# Retrieve Date and Event Name

In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import pandas as pd
import datetime as datetime
import re

In [58]:
thislist1 = []
thislist2 = []

for i in range(0,2):
    s = str(i)
    url = "https://www.hetdepot.be/programma?page=" + s
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    groups = soup.select('div.calendar__group')
    for group in groups:
        date = group.select_one('h3').text.strip()
        items = group.select('div.calendar-item')
        for item in items:
            title = item.select_one('h2.calendar-item__title').text.strip()
            thislist1.append(title)
            thislist2.append(date)

In [59]:
df_next = pd.DataFrame(thislist1)
df_next.columns = ["Event Name"]
df_next['Date'] = thislist2
df_next

                                            Event Name                  Date
0    Metejoor                             \n       ...    vrijdag12 mei 2023
1    Metejoor                             \n       ...   zaterdag13 mei 2023
2    Millie Manders & The Shutup                   ...    dinsdag16 mei 2023
3    Discobar Galaxie                             \...   woensdag17 mei 2023
4                                      Tangerine Dream    vrijdag19 mei 2023
..                                                 ...                   ...
111  Half Moon Run + \n          Flyte\n      \n   ...   woensdag20 sep 2023
112                Sunn O))) + \n          Aluk Todolo    vrijdag22 sep 2023
113  Patrick Watson                             \n ...   woensdag27 sep 2023
114  Patrick Watson                             \n ...  donderdag28 sep 2023
115                                     Maaike Ouboter    vrijdag29 sep 2023

[116 rows x 2 columns]

# Format 'date' column

In [60]:
#create dataframe only date
df_only_date = df_next.loc[:, ["Date"]]
df_only_date

                     Date
0      vrijdag12 mei 2023
1     zaterdag13 mei 2023
2      dinsdag16 mei 2023
3     woensdag17 mei 2023
4      vrijdag19 mei 2023
..                    ...
111   woensdag20 sep 2023
112    vrijdag22 sep 2023
113   woensdag27 sep 2023
114  donderdag28 sep 2023
115    vrijdag29 sep 2023

[116 rows x 1 columns]

In [61]:
list1 = []
list2 = []

for i in range(len(df_only_date)):
    ser = df_only_date.loc[i]
    series = ser.to_string()
    all_words = str.split(series)
    if len(all_words) == 4:
        #extract second word of each row
        second_word = all_words[1]
        #split word
        last_two = second_word[-2:]
        rest = second_word[:-2]
        result = rest + " " + last_two 
        #replace
        words = result.split() #split first word
        words[0] = "" #first word replaced with empty space
        new_string = " ".join(words) #adding rest to empty space to get only number
        #get rest of the words
        month = all_words[2] #get third word
        month = str(month) 
        year = all_words[3] #get fourth word
        year = str(year)
        final = year + month + new_string #put together
        new_final = f"{year} {month} {new_string}" #format
        new_final = new_final.replace("jan", "01")
        new_final = new_final.replace('feb', '02')
        new_final = new_final.replace('mrt', '03')
        new_final = new_final.replace('apr', '04')
        new_final = new_final.replace('mei', '05')
        new_final = new_final.replace('jun', '06')
        new_final = new_final.replace('jul', '07')
        new_final = new_final.replace('aug', '08')
        new_final = new_final.replace('sep', '09')
        new_final = new_final.replace('okt', '10')
        new_final = new_final.replace('nov', '11')
        new_final = new_final.replace('dec', '12')
        new_final = new_final.replace('  ', ' ')
        new_final = new_final.replace(' ', '-')
        list1.append(new_final)
    else:
        list1.append(new_final)
    if len(all_words) == 6:
        #extract fourth word of each row
        fourth_word = all_words[3]
        #keep only last 2 characters
        last_two_2 = fourth_word[-2:]
        str(last_two)
        #get rest of the words
        month2 = all_words[4] #get fifth word
        month2 = str(month) 
        year2 = all_words[5] #get sixth word
        year2 = str(year)
        final2 = year2 + month2 + last_two_2 #put together
        new_final2 = f"{year2} {month2} {last_two_2}" #format
        new_final2 = new_final2.replace("jan", "01")
        new_final2 = new_final2.replace('feb', '02')
        new_final2 = new_final2.replace('mrt', '03')
        new_final2 = new_final2.replace('apr', '04')
        new_final2 = new_final2.replace('mei', '05')
        new_final2 = new_final2.replace('jun', '06')
        new_final2 = new_final2.replace('jul', '07')
        new_final2 = new_final2.replace('aug', '08')
        new_final2 = new_final2.replace('sep', '09')
        new_final2 = new_final2.replace('okt', '10')
        new_final2 = new_final2.replace('nov', '11')
        new_final2 = new_final2.replace('dec', '12')
        new_final2 = new_final2.replace('  ', ' ')
        new_final2 = new_final2.replace(' ', '-')
        list2.append(new_final2)
    else:
        list2.append(new_final)

In [62]:
list1 = []
list2 = []

for i in range(len(df_only_date)):
    ser = df_only_date.loc[i]
    series = ser.to_string()
    all_words = str.split(series)
    if len(all_words) == 4:
        #extract second word of each row
        second_word = all_words[1]
        #split word
        last_two = second_word[-2:]
        rest = second_word[:-2]
        result = rest + " " + last_two 
        #replace
        words = result.split() #split first word
        words[0] = "" #first word replaced with empty space
        new_string = " ".join(words) #adding rest to empty space to get only number
        #get rest of the words
        month = all_words[2] #get third word
        month = str(month) 
        year = all_words[3] #get fourth word
        year = str(year)
        final = year + month + new_string #put together
        new_final = f"{year} {month} {new_string}" #format
        new_final = new_final.replace("jan", "01")
        new_final = new_final.replace('feb', '02')
        new_final = new_final.replace('mrt', '03')
        new_final = new_final.replace('apr', '04')
        new_final = new_final.replace('mei', '05')
        new_final = new_final.replace('jun', '06')
        new_final = new_final.replace('jul', '07')
        new_final = new_final.replace('aug', '08')
        new_final = new_final.replace('sep', '09')
        new_final = new_final.replace('okt', '10')
        new_final = new_final.replace('nov', '11')
        new_final = new_final.replace('dec', '12')
        new_final = new_final.replace('  ', ' ')
        new_final = new_final.replace(' ', '-')
        list1.append(new_final)
    else:
        #extract second word of each row
        second_word2 = all_words[1]
        last_two2 = second_word2[-2:]
        rest2 = second_word2[:-2]
        result2 = rest2 + " " + last_two2
        #replace
        words2 = result2.split() #split first word
        words2[0] = "" #first word replaced with empty space
        new_string2 = " ".join(words2) #adding rest to empty space to get only number
        #get month
        month2 = all_words[2] #get third word
        month2 = str(month2) 
        #extract year (fourth word)
        fourth_word = all_words[3]
        #keep only first 4 characters
        first_four = fourth_word[:4]
        str(first_four)
        final_ee = first_four + month2 + new_string2 #put together
        final_e = f"{first_four} {month2} {new_string2}" #format
        final_e = final_e.replace("jan", "01")
        final_e = final_e.replace('feb', '02')
        final_e = final_e.replace('mrt', '03')
        final_e = final_e.replace('apr', '04')
        final_e = final_e.replace('mei', '05')
        final_e = final_e.replace('jun', '06')
        final_e = final_e.replace('jul', '07')
        final_e = final_e.replace('aug', '08')
        final_e = final_e.replace('sep', '09')
        final_e = final_e.replace('okt', '10')
        final_e = final_e.replace('nov', '11')
        final_e = final_e.replace('dec', '12')
        final_e = final_e.replace('  ', ' ')
        final_e = final_e.replace(' ', '-')
        list1.append(final_e)
    if len(all_words) == 6:
        #extract fourth word of each row
        fourth_word = all_words[3]
        #keep only last 2 characters
        last_two3 = fourth_word[-2:]
        str(last_two)
        #get rest of the words
        month3 = all_words[4] #get fifth word
        month3 = str(month3) 
        year3 = all_words[5] #get sixth word
        year3 = str(year3)
        final3 = year3 + month3 + last_two3 #put together
        new_final2 = f"{year3} {month3} {last_two3}" #format
        new_final2 = new_final2.replace("jan", "01")
        new_final2 = new_final2.replace('feb', '02')
        new_final2 = new_final2.replace('mrt', '03')
        new_final2 = new_final2.replace('apr', '04')
        new_final2 = new_final2.replace('mei', '05')
        new_final2 = new_final2.replace('jun', '06')
        new_final2 = new_final2.replace('jul', '07')
        new_final2 = new_final2.replace('aug', '08')
        new_final2 = new_final2.replace('sep', '09')
        new_final2 = new_final2.replace('okt', '10')
        new_final2 = new_final2.replace('nov', '11')
        new_final2 = new_final2.replace('dec', '12')
        new_final2 = new_final2.replace('  ', ' ')
        new_final2 = new_final2.replace(' ', '-')
        list2.append(new_final2)
    else:
        list2.append(new_final)

# Create final DataFrame

In [64]:
df_next = pd.DataFrame(thislist1)
df_next.columns = ["Event Name"]
df_next["StartDate"] = list1
df_next["EndDate"] = list2
df_next[:30]

                                           Event Name   StartDate     EndDate
0   Metejoor                             \n       ...  2023-05-12  2023-05-12
1   Metejoor                             \n       ...  2023-05-13  2023-05-13
2   Millie Manders & The Shutup                   ...  2023-05-16  2023-05-16
3   Discobar Galaxie                             \...  2023-05-17  2023-05-17
4                                     Tangerine Dream  2023-05-19  2023-05-19
5   DAAN                             \n          (...  2023-05-20  2023-05-20
6   Natalia                             \n        ...  2023-05-23  2023-05-23
7               PSYCHONAUT + \n          Doodseskader  2023-05-24  2023-05-24
8                                    Jonas Winterland  2023-05-25  2023-05-25
9                                            Jef Neve  2023-05-26  2023-05-26
10  BLØF                             \n          (...  2023-05-27  2023-05-27
11                Amber Run + \n          Myles Smith  2023-05-28  2023-05-28
12      Lady Linn + \n          Her Magnificent Seven  2023-05-31  2023-05-31
13                      Depot Café presents PM Warson  2023-06-03  2023-06-03
14                       COOL presents Curtis Harding  2023-06-05  2023-06-05
15  YES                             \n          (n...  2023-06-06  2023-06-06
16                                   The Man Up North  2023-06-09  2023-06-09
17                                    FOKOFPOLISIEKAR  2023-06-16  2023-06-16
18  M-IDZOMER 2023: José González + Marble Sounds ...  2023-07-27  2023-07-27
19  M-IDZOMER 2023: Thurston Moore Group + King Ha...  2023-07-28  2023-07-28
20               M-IDZOMER FOR KIDS: Kapitein Winokio  2023-07-29  2023-07-29
21  M-IDZOMER 2023: DAAN + Calicos + Pitou + Zimme...  2023-07-29  2023-07-29
22  M-IDZOMER 2023: Suzanne Vega + Alela Diane + K...  2023-07-30  2023-07-30
23  Jean-Marie Aerts                             \...  2023-09-15  2023-09-15
24                 Scott Bradlee's Postmodern Jukebox  2023-09-16  2023-09-16
25  Half Moon Run + \n          Flyte\n      \n   ...  2023-09-20  2023-09-20
26                Sunn O))) + \n          Aluk Todolo  2023-09-22  2023-09-22
27  Patrick Watson                             \n ...  2023-09-27  2023-09-27
28  Patrick Watson                             \n ...  2023-09-28  2023-09-28
29                                     Maaike Ouboter  2023-09-29  2023-09-29

In [8]:
#csv
df_next.to_csv('next_events.csv', index=False)