# Retrieve Date and Event Name

In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import pandas as pd
import datetime as datetime
import re

In [2]:
thislist1 = []
thislist2 = []

for i in range(0,2):
    s = str(i)
    url = "https://www.hetdepot.be/programma?page=" + s
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    groups = soup.select('div.calendar__group')
    for group in groups:
        date = group.select_one('h3').text.strip()
        items = group.select('div.calendar-item')
        for item in items:
            title = item.select_one('h2.calendar-item__title').text.strip()
            thislist1.append(title)
            thislist2.append(date)

In [3]:
df_next = pd.DataFrame(thislist1)
df_next.columns = ["Event Name"]
df_next['Date'] = thislist2
df_next

                                            Event Name                  Date
0    Johannes Is Zijn Naam                         ...   woensdag10 mei 2023
1    Metejoor                             \n       ...    vrijdag12 mei 2023
2    Metejoor                             \n       ...   zaterdag13 mei 2023
3    Millie Manders & The Shutup                   ...    dinsdag16 mei 2023
4    Discobar Galaxie                             \...   woensdag17 mei 2023
..                                                 ...                   ...
111                 Scott Bradlee's Postmodern Jukebox   zaterdag16 sep 2023
112  Half Moon Run + \n          Flyte\n      \n   ...   woensdag20 sep 2023
113                Sunn O))) + \n          Aluk Todolo    vrijdag22 sep 2023
114  Patrick Watson                             \n ...   woensdag27 sep 2023
115  Patrick Watson                             \n ...  donderdag28 sep 2023

[116 rows x 2 columns]

# Format 'date' column

In [4]:
#create dataframe only date
df_only_date = df_next.loc[:, ["Date"]]
df_only_date

                     Date
0     woensdag10 mei 2023
1      vrijdag12 mei 2023
2     zaterdag13 mei 2023
3      dinsdag16 mei 2023
4     woensdag17 mei 2023
..                    ...
111   zaterdag16 sep 2023
112   woensdag20 sep 2023
113    vrijdag22 sep 2023
114   woensdag27 sep 2023
115  donderdag28 sep 2023

[116 rows x 1 columns]

In [5]:
list1 = []
list2 = []

for i in range(len(df_only_date)):
    ser = df_only_date.loc[i]
    series = ser.to_string()
    all_words = str.split(series)
    if len(all_words) == 4:
        #extract second word of each row
        second_word = all_words[1]
        #split word
        last_two = second_word[-2:]
        rest = second_word[:-2]
        result = rest + " " + last_two 
        #replace
        words = result.split() #split first word
        words[0] = "" #first word replaced with empty space
        new_string = " ".join(words) #adding rest to empty space to get only number
        #get rest of the words
        month = all_words[2] #get third word
        month = str(month) 
        year = all_words[3] #get fourth word
        year = str(year)
        final = year + month + new_string #put together
        new_final = f"{year} {month} {new_string}" #format
        new_final = new_final.replace("jan", "01")
        new_final = new_final.replace('feb', '02')
        new_final = new_final.replace('maa', '03')
        new_final = new_final.replace('apr', '04')
        new_final = new_final.replace('mei', '05')
        new_final = new_final.replace('jun', '06')
        new_final = new_final.replace('jul', '07')
        new_final = new_final.replace('aug', '08')
        new_final = new_final.replace('sep', '09')
        new_final = new_final.replace('okt', '10')
        new_final = new_final.replace('nov', '11')
        new_final = new_final.replace('dec', '12')
        new_final = new_final.replace('  ', ' ')
        new_final = new_final.replace(' ', '-')
        list1.append(new_final)
    else:
        list1.append(new_final)
    if len(all_words) == 6:
        #extract fourth word of each row
        fourth_word = all_words[3]
        #keep only last 2 characters
        last_two_2 = fourth_word[-2:]
        str(last_two)
        #get rest of the words
        month2 = all_words[4] #get fifth word
        month2 = str(month) 
        year2 = all_words[5] #get sixth word
        year2 = str(year)
        final2 = year2 + month2 + last_two_2 #put together
        new_final2 = f"{year2} {month2} {last_two_2}" #format
        new_final2 = new_final2.replace("jan", "01")
        new_final2 = new_final2.replace('feb', '02')
        new_final2 = new_final2.replace('maa', '03')
        new_final2 = new_final2.replace('apr', '04')
        new_final2 = new_final2.replace('mei', '05')
        new_final2 = new_final2.replace('jun', '06')
        new_final2 = new_final2.replace('jul', '07')
        new_final2 = new_final2.replace('aug', '08')
        new_final2 = new_final2.replace('sep', '09')
        new_final2 = new_final2.replace('okt', '10')
        new_final2 = new_final2.replace('nov', '11')
        new_final2 = new_final2.replace('dec', '12')
        new_final2 = new_final2.replace('  ', ' ')
        new_final2 = new_final2.replace(' ', '-')
        list2.append(new_final2)
    else:
        list2.append(new_final)

# Create final DataFrame

In [6]:
df_next = pd.DataFrame(thislist1)
df_next.columns = ["Event Name"]
df_next["StartDate"] = list1
df_next["EndDate"] = list2
df_next

                                            Event Name   StartDate     EndDate
0    Johannes Is Zijn Naam                         ...  2023-05-10  2023-05-10
1    Metejoor                             \n       ...  2023-05-12  2023-05-12
2    Metejoor                             \n       ...  2023-05-13  2023-05-13
3    Millie Manders & The Shutup                   ...  2023-05-16  2023-05-16
4    Discobar Galaxie                             \...  2023-05-17  2023-05-17
..                                                 ...         ...         ...
111                 Scott Bradlee's Postmodern Jukebox  2023-09-16  2023-09-16
112  Half Moon Run + \n          Flyte\n      \n   ...  2023-09-20  2023-09-20
113                Sunn O))) + \n          Aluk Todolo  2023-09-22  2023-09-22
114  Patrick Watson                             \n ...  2023-09-27  2023-09-27
115  Patrick Watson                             \n ...  2023-09-28  2023-09-28

[116 rows x 3 columns]

In [ ]:
#csv
df_next.to_csv('next_events.csv', index=False)