# DATAFRAME WITH EVENT NAME AND DATE

In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import pandas as pd

In [2]:
thislist1 = [] #empty list later used to store title
thislist2 = [] #empty list later used to store date

for i in range(0,11): #first 11 pages
    s = str(i) #converting i to a string, in order to concatenate it with the base URL string using the + operator in next step
    url = "https://www.hetdepot.be/archief?page=" + s #adding url of site needed for data 
    response = requests.get(url) #asking permission
    soup = BeautifulSoup(response.text, "html.parser") #store it into a soup object for further usage
    groups = soup.select('div.calendar__group') #scraping part containing date and title
    for group in groups:
        date = group.select_one('h3').text.strip() #get date
        items = group.select('div.calendar-item') #get title
        for item in items:
            title = item.select_one('h2.calendar-item__title').text.strip() #get actual title bc part of bigger block
            thislist1.append(title) #storing resulting titles in thislist1
            thislist2.append(date) #storing resulting dates in thislist2
#.text.strip() is used to extract the text content of the selected elements and remove leading or trailing whitespace

In [3]:
#create a dataframe that have as column the info stored in the two lists resepctively
df_past = pd.DataFrame(thislist1)
df_past.columns = ["Event Name"] #column 1
df_past['Date'] = thislist2 #column 2
df_past

                                            Event Name                  Date
0                                      FOKOFPOLISIEKAR    vrijdag16 jun 2023
1                                     The Man Up North    vrijdag09 jun 2023
2    YES                             \n          (g...    dinsdag06 jun 2023
3    COOL presents Curtis Harding + \n          Mar...    maandag05 jun 2023
4                        Depot Café presents PM Warson   zaterdag03 jun 2023
..                                                 ...                   ...
325                                Clouseau (sold out)    dinsdag28 sep 2021
326  Adriaan Van den Hoof: 't Zal schoon zijn als h...   zaterdag18 sep 2021
327  Adriaan Van den Hoof: 't Zal schoon zijn als h...    vrijdag17 sep 2021
328  Adriaan Van den Hoof: 't Zal schoon zijn als h...  donderdag16 sep 2021
329                                           Jef Neve  donderdag09 sep 2021

[330 rows x 2 columns]

# Format 'date' column

Since I need to reformat the date comulmn and later split it in two columns startdate and enddate, I work with a data frame with only date, then create a for loop in which for each row i split the characters and extract only the necessary ones, and then I change the format into yyyy-mm-dd

In [4]:
#create dataframe only date
df_only_date = df_past.loc[:, ["Date"]]
df_only_date

                     Date
0      vrijdag16 jun 2023
1      vrijdag09 jun 2023
2      dinsdag06 jun 2023
3      maandag05 jun 2023
4     zaterdag03 jun 2023
..                    ...
325    dinsdag28 sep 2021
326   zaterdag18 sep 2021
327    vrijdag17 sep 2021
328  donderdag16 sep 2021
329  donderdag09 sep 2021

[330 rows x 1 columns]

In [5]:
list1 = [] #empty list later used to store formatted StartDate
list2 = [] #empty list later used to store formatted EndDate

for i in range(len(df_only_date)): #loop iterates over the range of the length of the DataFrame, allowing it to access each row of the DataFrame
    #assign the current row of the DataFrame using
    ser = df_only_date.loc[i] 
    #converting the row to a string. This helps extract individual words later
    series = ser.to_string()
    #splits the string into a list of words
    all_words = str.split(series) 
    new_final = "" #empty new_final bc will be in the final else
    if len(all_words) == 4: #if length is 4 (4 words)
        #extract second word of each row 
        second_word = all_words[1] 
        #split word
        last_two = second_word[-2:] #get last two characters
        rest = second_word[:-2] #store rest 
        result = rest + " " + last_two
        #replace
        words = result.split() #split first word
        words[0] = "" #first word replaced with empty space
        new_string = " ".join(words) #joining now empty space to get only number
        #get rest of the words
        month = all_words[2] #get third word and transform to string
        month = str(month) 
        year = all_words[3] #get fourth word and transform to string
        year = str(year)
        final = year + month + new_string #put together
        new_final = f"{year} {month} {new_string}" #format
        new_final = new_final.replace("jan", "01")
        new_final = new_final.replace('feb', '02')
        new_final = new_final.replace('mrt', '03')
        new_final = new_final.replace('apr', '04')
        new_final = new_final.replace('mei', '05')
        new_final = new_final.replace('jun', '06')
        new_final = new_final.replace('jul', '07')
        new_final = new_final.replace('aug', '08')
        new_final = new_final.replace('sep', '09')
        new_final = new_final.replace('okt', '10')
        new_final = new_final.replace('nov', '11')
        new_final = new_final.replace('dec', '12')
        new_final = new_final.replace('  ', ' ')
        new_final = new_final.replace(' ', '-')
        list1.append(new_final)
    else: #if row has more than four words
        #SAME STEPS
        #extract second word of each row
        second_word2 = all_words[1]
        last_two2 = second_word2[-2:]
        rest2 = second_word2[:-2]
        result2 = rest2 + " " + last_two2
        #replace
        words2 = result2.split() #split first word
        words2[0] = "" #first word replaced with empty space
        new_string2 = " ".join(words2) #adding rest to empty space to get only number
        #get month
        month2 = all_words[2] #get third word
        month2 = str(month2) 
        #extract year (fourth word)
        fourth_word = all_words[3]
        #keep only first 4 characters
        first_four = fourth_word[:4]
        str(first_four)
        final_ee = first_four + month2 + new_string2 #put together
        final_e = f"{first_four} {month2} {new_string2}" #format
        final_e = final_e.replace("jan", "01")
        final_e = final_e.replace('feb', '02')
        final_e = final_e.replace('mrt', '03')
        final_e = final_e.replace('apr', '04')
        final_e = final_e.replace('mei', '05')
        final_e = final_e.replace('jun', '06')
        final_e = final_e.replace('jul', '07')
        final_e = final_e.replace('aug', '08')
        final_e = final_e.replace('sep', '09')
        final_e = final_e.replace('okt', '10')
        final_e = final_e.replace('nov', '11')
        final_e = final_e.replace('dec', '12')
        final_e = final_e.replace('  ', ' ')
        final_e = final_e.replace(' ', '-')
        list1.append(final_e)
    if len(all_words) == 6: #SAME STEPS
        #extract fourth word of each row
        fourth_word = all_words[3]
        #keep only last 2 characters
        last_two_2 = fourth_word[-2:]
        str(last_two_2)
        #get rest of the words
        month2 = all_words[4] #get fifth word
        month2 = str(month2) 
        year2 = all_words[5] #get sixth word
        year2 = str(year2)
        final2 = year2 + month2 + last_two_2 #put together
        new_final2 = f"{year2} {month2} {last_two_2}" #format
        new_final2 = new_final2.replace("jan", "01")
        new_final2 = new_final2.replace('feb', '02')
        new_final2 = new_final2.replace('mrt', '03')
        new_final2 = new_final2.replace('apr', '04')
        new_final2 = new_final2.replace('mei', '05')
        new_final2 = new_final2.replace('jun', '06')
        new_final2 = new_final2.replace('jul', '07')
        new_final2 = new_final2.replace('aug', '08')
        new_final2 = new_final2.replace('sep', '09')
        new_final2 = new_final2.replace('okt', '10')
        new_final2 = new_final2.replace('nov', '11')
        new_final2 = new_final2.replace('dec', '12')
        new_final2 = new_final2.replace('  ', ' ')
        new_final2 = new_final2.replace(' ', '-')
        list2.append(new_final2)
    else:
        list2.append(new_final)

# Create final DataFrame

In [12]:
#add StartDate and EndDate
df_past = pd.DataFrame(thislist1)
df_past.columns = ["Event Name"]
df_past["StartDate"] = list1
df_past["EndDate"] = list2

In [13]:
#keep only 2022
df_past = df_past[df_past["StartDate"].str[:4] == "2022"]
df_past = df_past.reset_index(drop=True)
df_past

                                            Event Name   StartDate     EndDate
0                     Otto-Jan Ham blikt terug op 2022  2022-12-23  2022-12-23
1    Axelle Red: a very special Christmas          ...  2022-12-20  2022-12-20
2    Arnout Van den Bossche                        ...  2022-12-19  2022-12-19
3                                          Dub Unit #3  2022-12-17  2022-12-18
4    The Clement Peerens Explosition               ...  2022-12-16  2022-12-16
..                                                 ...         ...         ...
174                 Preselectie Humo's Rock Rally 2022  2022-01-29  2022-01-29
175            Stijn Meuris – Tirade #5 – De Stilstand  2022-01-28  2022-01-28
176  Steve Wynn                             \n     ...  2022-01-25  2022-01-25
177  COOL presents Aaron Frazer                    ...  2022-01-24  2022-01-24
178  Open Mic                              \n      ...  2022-01-12  2022-01-12

[179 rows x 3 columns]

In [14]:
#manual modifications
df_past.loc[82, "StartDate"] = "2022-07-28"
df_past.loc[82, "EndDate"] = "2022-07-31"
df_past.loc[173, "StartDate"] = "2022-02-01"

In [15]:
df_past

                                            Event Name   StartDate     EndDate
0                     Otto-Jan Ham blikt terug op 2022  2022-12-23  2022-12-23
1    Axelle Red: a very special Christmas          ...  2022-12-20  2022-12-20
2    Arnout Van den Bossche                        ...  2022-12-19  2022-12-19
3                                          Dub Unit #3  2022-12-17  2022-12-18
4    The Clement Peerens Explosition               ...  2022-12-16  2022-12-16
..                                                 ...         ...         ...
174                 Preselectie Humo's Rock Rally 2022  2022-01-29  2022-01-29
175            Stijn Meuris – Tirade #5 – De Stilstand  2022-01-28  2022-01-28
176  Steve Wynn                             \n     ...  2022-01-25  2022-01-25
177  COOL presents Aaron Frazer                    ...  2022-01-24  2022-01-24
178  Open Mic                              \n      ...  2022-01-12  2022-01-12

[179 rows x 3 columns]

In [ ]:
#csv
df_past.to_csv('past_events.csv', index=False)